.container{
    display:flex;
    flex-direction: column;
    gap: 50px;
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

 
}
.btn{
    display: flex;
    align-items: center;
    
    
}
.bar{
    background-color: #121268;
}
.list{
    display: flex;
}
.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    position: unset !important;
}
#outlined-basic{

    background-color: white;

}
.search{
    width:  700px;
    background-color: white;

}
.serchBox{
    background-color: #7171ff;
    padding: 50px;

}
.link{
    text-decoration: none;
}


