.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    position: unset !important;
}

#outlined-basic {
    background-color: white;
}

.MuiOutlinedInput-notchedOutline {
    border-color: transparent !important;

}

.serchBox {
    padding: 50px;
}

.link {
    text-decoration: none;
}

.css-12l054h-MuiFormControl-root-MuiTextField-root {
    border-radius: 20px;
}

.css-stc4iu-MuiToolbar-root {
    height: 50px !important;
    min-height: 60px !important;
}